.calendar {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 5px;
}

.day-name {
  font-weight: bold;
  padding: 5px 0;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: none; /* Gridin dış kenarlığını kaldırır */
}

.days-grid > div {
  border: none; /* Grid hücrelerinin kenarlıklarını kaldırır */
}

.day {
  padding: 10px 0;
  border: 1px solid #ddd;
  min-height: 40px;
}

.empty {
  background-color: #f9f9f9;
}

.active {
  cursor: pointer;
}

.active:hover {
  background-color: #eae7e7;
}
.hospital-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 256px;
  height: 88px;
  border-radius: 8px;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
}
.bold-height {
  color: hsla(206, 4%, 32%, 1);
  font-weight: 600;
  height: 10px;
  font-size: 22px;
}
.hospital-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.child-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 86%, 1);
}
.patient-overview-container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  width: 726px;
  height: 556px;
  border-radius: 10px;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}
.hospital-header-section {
  display: flex;
  gap: 26px;
  flex-direction: column;
}
.hospital-header-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
.patient-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bold-little-special-middle {
  font-weight: 600;
  font-size: 20px;
  height: 10px;
  color: hsla(206, 4%, 32%, 1);
}
.child-container-content-flex {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 10px;
}
.light-blue-button {
  display: flex;
  background-color: hsla(196, 77%, 60%, 0.16);
  color: hsla(196, 77%, 60%, 1);
  border: none;
  border-radius: 10px;
  gap: 5px;
}
.child-container-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.green-circle {
  width: 10px;
  height: 10px;
  display: flex;
  background-color: red;
  color: hsla(196, 77%, 60%, 1);
  border: none;
  border-radius: 10px;
  gap: 5px;
}
.green-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: hsla(196, 77%, 60%, 0.16);
  color: hsla(169, 100%, 30%, 1);
  border: none;
  border-radius: 10px;
}
.blue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: hsla(240, 62%, 59%, 0.16);
  color: hsla(240, 62%, 59%, 1);
  border: none;
  border-radius: 10px;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 556px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  padding: 20px;
}
.calendar-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 310px;
  height: 77px;
  gap: 10px;
}
.gap {
  display: flex;
  flex-direction: column;
}
.dentist-apointment-container {
  display: flex;
  justify-content: space-between;
  width: 291px;
  height: 47px;
  gap: 5px;

  align-items: center;
}
.calendar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 10px;
}
.calendar-buttons-container {
  display: flex;
  align-items: center;
}
.green-circle-right {
  display: flex;
  height: 10px;
  width: 10px;
  border-radius: 90px;
  background-color: hsla(169, 100%, 30%, 1);
}
.hospital-patient-overview-left {
  display: flex;
  flex-direction: column;
  width: 539px;
  height: 395px;
  border-radius: 10px;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
}
.hospital-patient-overview-left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hospital-patient-overview-left-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.select-little {
  width: 150px;
  height: 30px;
  gap: 2px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0px;
}
.hospital-patient-overview-left-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hospital-patient-overview-seciton {
  display: flex;
  flex-direction: row;
  gap: 26px;
}
.hospital-patient-overview-right {
  display: flex;
  width: 539px;
  gap: 10px;
  height: 395px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  padding-left: 20px;
  padding-right: 20px;

  flex-direction: column;
}
.hospital-patient-overview-right-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hospital-patient-overview-right-middle-boxs {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.hospital-patient-overview-right-middle-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 153px;
  height: 86px;
  border-radius: 8px;
  padding: 15px;
  border-width: 1px;
  border: 1px solid hsla(0, 0%, 86%, 1);
}
.border-vertical-special {
  height: 1px;
  background-color: hsla(0, 0%, 86%, 1);
}

.hospital-patient-overview-right-middle-contents {
  display: flex;
  flex-direction: column;
  width: 301px;
  height: 298px;
  margin-left: 20px;
}
.listofdoctors-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.listofdoctors {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.appointment-section {
  width: 1102px;
  height: 598px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  padding-left: 20px;
  padding-right: 20px;
}
.appointment-table-body-td {
  display: flex;
  margin: 20px;
}
.confirmed-green {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 21px;
  border-radius: 90px;
  gap: 6px;
  background-color: hsla(169, 100%, 30%, 0.16);
  color: hsla(169, 100%, 30%, 1);
  border: none;
}
/* footer  */
.hospital-footer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
}
.hospital-footer-section-left {
  width: 256px;
  height: 486px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.hospital-footer-section-left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hospital-footer-section-left-content-box-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-right {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border: none;
  padding: 3px;
}
.button-right:hover {
  background-color: hsla(240, 62%, 59%, 1);
  color: white;
}
.hospital-footer-section-left-content-box {
  display: flex;
  flex-direction: column;
  width: 196px;
  height: 115px;
  border-radius: 10px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  border-width: 1px;
  border: 1px solid hsla(0, 0%, 86%, 1);
}
.hospital-footer-section-left-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 400px;
  margin-top: 10px;
}
.hospital-footer-section-middle-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hospital-footer-section-middle {
  width: 538px;
  display: flex;
  flex-direction: column;
  height: 486px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  gap: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}
.circle-light-blue-little {
  width: 10px;
  border-radius: 10px;
  height: 10px;
  background-color: hsla(196, 77%, 60%, 1);
}
.circle-blue-little {
  width: 10px;
  border-radius: 10px;
  height: 10px;
  background-color: hsla(240, 62%, 59%, 1);
}
.gray-big {
  color: hsla(206, 4%, 32%, 1);
}
.hospital-footer-section-middle-text {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.flex-special-secondary {
  height: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.revenue-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 498px;
  height: 91px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 20px;
  border-width: 1px;
  border: 1px solid hsla(0, 0%, 86%, 1);
}
.vector {
  width: 1px;
  height: 80px;
  background-color: hsla(0, 0%, 86%, 1);
}
.orange-circle {
  background-color: hsla(34, 100%, 63%, 1);
  width: 10px;
  height: 10px;
  border-radius: 90px;
}
.recent-activity-container {
  width: 256px;
  height: 486px;
  border-radius: 10px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsla(0, 0%, 100%, 1);
  padding: 20px;
}
.blue {
  color: hsla(240, 62%, 59%, 1);
  font-size: 12px;
}
.recent-activity-container-content {
  display: flex;
  flex-direction: column;
  width: 216px;
  border: 1px solid hsla(0, 0%, 86%, 1);
  height: 200px;
  padding-left: 10px;
  border-radius: 10px;
  padding: 10px;
  gap: 0px;
  padding-right: 10px;
}
.recent-activity-containe-p {
  height: 15px;
}
.recent-activity-container-content-boxs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  width: 233px;
  height: 380px;
  overflow-x: hidden;
}
.Available {
  background-color: hsla(196, 77%, 60%, 0.16);
  color: hsla(196, 77%, 60%, 1);
  width: 72px;
  height: 21px;
  border-radius: 90px;
  gap: 6px;
  border: none;
}
.Unavailable {
  background-color: hsla(357, 100%, 63%, 0.16);
  color: hsla(357, 100%, 63%, 1);
  width: 85px;
  height: 21px;
  border-radius: 90px;
  border: none;
  gap: 6px;
}
.Leave {
  background-color: hsla(34, 100%, 63%, 0.16);
  color: hsla(34, 100%, 63%, 1);
  width: 57px;
  height: 21px;
  border-radius: 90px;
  gap: 6px;
  border: none;
}
